<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/index.css" data-finger-print>
</head>
<body>
  {{{content}}}
  <script src="/js/vendor.js" data-finger-print></script>
  <script src="/js/index.js" data-finger-print></script>
</body>
</html>
