---
layout: layouts/default.hbs
title: "NPM Build Scripts Example"
---

<div class="site-container">
  <h1>NPM Build Scripts Example</h1>

  <h2>Example Partial Include</h2>
  {{> name first="Steven" last="Waller"}}

  <h2>Example SVG Include</h2>
  <p>{{> svgs/arrow class="example-arrow-icon"}}</p>
</div>
